<div class="jumbotron">
  <h2>Welcome to intercambealo!</h2>
  <div class="main-page-buttons">
    <p><a class="btn btn-default" ng-href="#register">Get started</a></p>
  </div>
</div>

<div class="row marketing">
  <div class="col-md-6">
    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
    <h2>Products</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus nisi a gravida finibus. Vivamus nulla justo, scelerisque quis posuere at, vestibulum ac tellus. Phasellus eleifend nisl et ex varius semper.</p>
  </div>
  <div class="col-md-6">
    <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
    <h2>Transactions</h2>
    <p>Nunc posuere diam ut dolor aliquam vehicula. Proin eget gravida arcu. Fusce pulvinar cursus tristique. In tempor felis quis eros ullamcorper, eu imperdiet ex fermentum. Fusce eget porta sapien. Aliquam erat volutpat.</p>
  </div>
</div>
